**.dat
**.pdf
**.zip
**.h5
**.pkl
**.csv
**.png
**.json
**.txt
**.arff
/.venv
/.idea
**.out
a_s_RELE*
/process_datasets/DOMINO
/process_datasets/PAMAP2_Dataset
/process_datasets/wisdm+smartphone+and+smartwatch+activity+and+biometrics+dataset
/process_datasets/dreamt-dataset-for-real-time-sleep-stage-estimation-using-multisensor-wearable-technology-1.0.1
/process_datasets/dynamic_exercising
/process_datasets/multilevel-monitoring-of-activity-and-sleep-in-healthy-people-1.0.0
/process_datasets/single_activity_walk_running_data_csv
/process_datasets/static_exercising
/process_datasets/single_activity_dynamic_exercising
process_datasets/single_activity_static_exercising
