**.dat
**.pdf
**.zip
**.h5
**.pkl
**.csv
**.png
**.json
**.txt
**.arff
/.venv
/.idea
a_s_RELE*
/process_datasets/DOMINO
/process_datasets/PAMAP2_Dataset
/process_datasets/wisdm+smartphone+and+smartwatch+activity+and+biometrics+dataset